.container-small {
    max-width: 400px;
  }
  
  .container-content {
    max-width: 800px;
  }
  
  .container-medium {
    max-width: 1000px;
  }
  
  .container {
    max-width: 1112px;
  }
  
  .container-large {
    max-width: 1240px;
  }
  
  .container-full {
    max-width: 100%;
  }
  
  .container-1 {
    max-width: calc(100% / 12 * 1 - 8rem / 2);
  }
  
  .container-2 {
    max-width: calc(100% / 12 * 2 - 8rem / 2);
  }
  
  .container-3 {
    max-width: calc(100% / 12 * 3 - 8rem / 2);
  }
  
  .container-4 {
    max-width: calc(100% / 12 * 4 - 8rem / 2);
  }
  
  .container-5 {
    max-width: calc(100% / 12 * 5 - 8rem / 2);
  }
  
  .container-6 {
    max-width: calc(100% / 12 * 6 - 8rem / 2);
  }
  
  .container-7 {
    max-width: calc(100% / 12 * 7 - 8rem / 2);
  }
  
  .container-8 {
    max-width: calc(100% / 12 * 8 - 8rem / 2);
  }
  
  .container-9 {
    max-width: calc(100% / 12 * 9 - 8rem / 2);
  }
  
  .container-10 {
    max-width: calc(100% / 12 * 10 - 8rem / 2);
  }
  
  .container-11 {
    max-width: calc(100% / 12 * 11 - 8rem / 2);
  }
  
  .container-12 {
    max-width: calc(100% / 12 * 12 - 8rem / 2);
  }
  
  @media only screen and (max-width: 767px) {
    .container,
    [class^=container-],
    [class*=" container-"] {
      max-width: none;
    }
  }
  .container-crop {
    overflow: hidden;
  }