.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
}

.grid + .grid {
  margin-top: 8rem;
}

.grid-gutterless {
  grid-column-gap: 0;
}

.grid-gapless {
  grid-row-gap: 0;
}
.grid-gapless + .grid {
  margin-top: 0;
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

.column-1 {
  grid-column-end: span 1;
}

.column-2 {
  grid-column-end: span 2;
}

.column-3 {
  grid-column-end: span 3;
}

.column-4 {
  grid-column-end: span 4;
}

.column-5 {
  grid-column-end: span 5;
}

.column-6 {
  grid-column-end: span 6;
}

.column-7 {
  grid-column-end: span 7;
}

.column-8 {
  grid-column-end: span 8;
}

.column-9 {
  grid-column-end: span 9;
}

.column-10 {
  grid-column-end: span 10;
}

.column-11 {
  grid-column-end: span 11;
}

.column-12 {
  grid-column-end: span 12;
}

@media only screen and (max-width: 1023px) {
  .column-1-md {
    grid-column-end: span 1;
  }
  .column-2-md {
    grid-column-end: span 2;
  }
  .column-3-md {
    grid-column-end: span 3;
  }
  .column-4-md {
    grid-column-end: span 4;
  }
  .column-5-md {
    grid-column-end: span 5;
  }
  .column-6-md {
    grid-column-end: span 6;
  }
  .column-7-md {
    grid-column-end: span 7;
  }
  .column-8-md {
    grid-column-end: span 8;
  }
  .column-9-md {
    grid-column-end: span 9;
  }
  .column-10-md {
    grid-column-end: span 10;
  }
  .column-11-md {
    grid-column-end: span 11;
  }
  .column-12-md {
    grid-column-end: span 12;
  }
  .grid-1-md {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-7-md {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-8-md {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-9-md {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-10-md {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-11-md {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-12-md {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .grid,
  .grid-auto {
    grid-template-columns: repeat(1, 1fr);
  }
  .column {
    grid-column-end: span 1;
  }
  .column:empty {
    display: none;
  }
  .grid-1-sm {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-7-sm {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-8-sm {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-9-sm {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-10-sm {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-11-sm {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-12-sm {
    grid-template-columns: repeat(12, 1fr);
  }
}
.gutter-1 {
  grid-column-gap: 4px;
}

.gutter-2 {
  grid-column-gap: 8px;
}

.gutter-3 {
  grid-column-gap: 12px;
}

.gutter-4 {
  grid-column-gap: 16px;
}

.gutter-5 {
  grid-column-gap: 20px;
}

.gutter-6 {
  grid-column-gap: 24px;
}

.gutter-7 {
  grid-column-gap: 28px;
}

.gutter-8 {
  grid-column-gap: 32px;
}

.gutter-9 {
  grid-column-gap: 36px;
}

.gutter-10 {
  grid-column-gap: 40px;
}

.gutter-11 {
  grid-column-gap: 44px;
}

.gutter-12 {
  grid-column-gap: 48px;
}

.gutter-13 {
  grid-column-gap: 52px;
}

.gutter-14 {
  grid-column-gap: 56px;
}

.gutter-15 {
  grid-column-gap: 60px;
}

.gutter-20 {
  grid-column-gap: 80px;
}

.gutter-25 {
  grid-column-gap: 100px;
}

.gutter-30 {
  grid-column-gap: 120px;
}

@media only screen and (max-width: 1023px) {
  .gutter-1-md {
    grid-column-gap: 4px;
  }
  .gutter-2-md {
    grid-column-gap: 8px;
  }
  .gutter-3-md {
    grid-column-gap: 12px;
  }
  .gutter-4-md {
    grid-column-gap: 16px;
  }
  .gutter-5-md {
    grid-column-gap: 20px;
  }
  .gutter-6-md {
    grid-column-gap: 24px;
  }
  .gutter-7-md {
    grid-column-gap: 28px;
  }
  .gutter-8-md {
    grid-column-gap: 32px;
  }
  .gutter-9-md {
    grid-column-gap: 36px;
  }
  .gutter-10-md {
    grid-column-gap: 40px;
  }
  .gutter-11-md {
    grid-column-gap: 44px;
  }
  .gutter-12-md {
    grid-column-gap: 48px;
  }
  .gutter-13-md {
    grid-column-gap: 52px;
  }
  .gutter-14-md {
    grid-column-gap: 56px;
  }
  .gutter-15-md {
    grid-column-gap: 60px;
  }
  .gutter-20-md {
    grid-column-gap: 80px;
  }
  .gutter-25-md {
    grid-column-gap: 100px;
  }
  .gutter-30-md {
    grid-column-gap: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .gutter-1-sm {
    grid-column-gap: 4px;
  }
  .gutter-2-sm {
    grid-column-gap: 8px;
  }
  .gutter-3-sm {
    grid-column-gap: 12px;
  }
  .gutter-4-sm {
    grid-column-gap: 16px;
  }
  .gutter-5-sm {
    grid-column-gap: 20px;
  }
  .gutter-6-sm {
    grid-column-gap: 24px;
  }
  .gutter-7-sm {
    grid-column-gap: 28px;
  }
  .gutter-8-sm {
    grid-column-gap: 32px;
  }
  .gutter-9-sm {
    grid-column-gap: 36px;
  }
  .gutter-10-sm {
    grid-column-gap: 40px;
  }
  .gutter-11-sm {
    grid-column-gap: 44px;
  }
  .gutter-12-sm {
    grid-column-gap: 48px;
  }
  .gutter-13-sm {
    grid-column-gap: 52px;
  }
  .gutter-14-sm {
    grid-column-gap: 56px;
  }
  .gutter-15-sm {
    grid-column-gap: 60px;
  }
  .gutter-20-sm {
    grid-column-gap: 80px;
  }
  .gutter-25-sm {
    grid-column-gap: 100px;
  }
  .gutter-30-sm {
    grid-column-gap: 120px;
  }
}
.gap-1 {
  grid-row-gap: 4px;
}

.gap-1 + .gap-1 {
  margin-top: 4px;
}

.gap-2 {
  grid-row-gap: 8px;
}

.gap-2 + .gap-2 {
  margin-top: 8px;
}

.gap-3 {
  grid-row-gap: 12px;
}

.gap-3 + .gap-3 {
  margin-top: 12px;
}

.gap-4 {
  grid-row-gap: 16px;
}

.gap-4 + .gap-4 {
  margin-top: 16px;
}

.gap-5 {
  grid-row-gap: 20px;
}

.gap-5 + .gap-5 {
  margin-top: 20px;
}

.gap-6 {
  grid-row-gap: 24px;
}

.gap-6 + .gap-6 {
  margin-top: 24px;
}

.gap-7 {
  grid-row-gap: 28px;
}

.gap-7 + .gap-7 {
  margin-top: 28px;
}

.gap-8 {
  grid-row-gap: 32px;
}

.gap-8 + .gap-8 {
  margin-top: 32px;
}

.gap-9 {
  grid-row-gap: 36px;
}

.gap-9 + .gap-9 {
  margin-top: 36px;
}

.gap-10 {
  grid-row-gap: 40px;
}

.gap-10 + .gap-10 {
  margin-top: 40px;
}

.gap-11 {
  grid-row-gap: 44px;
}

.gap-11 + .gap-11 {
  margin-top: 44px;
}

.gap-12 {
  grid-row-gap: 48px;
}

.gap-12 + .gap-12 {
  margin-top: 48px;
}

.gap-13 {
  grid-row-gap: 52px;
}

.gap-13 + .gap-13 {
  margin-top: 52px;
}

.gap-14 {
  grid-row-gap: 56px;
}

.gap-14 + .gap-14 {
  margin-top: 56px;
}

.gap-15 {
  grid-row-gap: 60px;
}

.gap-15 + .gap-15 {
  margin-top: 60px;
}

.gap-20 {
  grid-row-gap: 80px;
}

.gap-20 + .gap-20 {
  margin-top: 80px;
}

.gap-25 {
  grid-row-gap: 100px;
}

.gap-25 + .gap-25 {
  margin-top: 100px;
}

.gap-30 {
  grid-row-gap: 120px;
}

.gap-30 + .gap-30 {
  margin-top: 120px;
}

@media only screen and (max-width: 1023px) {
  .gap-1-md {
    grid-row-gap: 4px;
  }
  .gap-1-md + .gap-1-md {
    margin-top: 4px;
  }
  .gap-2-md {
    grid-row-gap: 8px;
  }
  .gap-2-md + .gap-2-md {
    margin-top: 8px;
  }
  .gap-3-md {
    grid-row-gap: 12px;
  }
  .gap-3-md + .gap-3-md {
    margin-top: 12px;
  }
  .gap-4-md {
    grid-row-gap: 16px;
  }
  .gap-4-md + .gap-4-md {
    margin-top: 16px;
  }
  .gap-5-md {
    grid-row-gap: 20px;
  }
  .gap-5-md + .gap-5-md {
    margin-top: 20px;
  }
  .gap-6-md {
    grid-row-gap: 24px;
  }
  .gap-6-md + .gap-6-md {
    margin-top: 24px;
  }
  .gap-7-md {
    grid-row-gap: 28px;
  }
  .gap-7-md + .gap-7-md {
    margin-top: 28px;
  }
  .gap-8-md {
    grid-row-gap: 32px;
  }
  .gap-8-md + .gap-8-md {
    margin-top: 32px;
  }
  .gap-9-md {
    grid-row-gap: 36px;
  }
  .gap-9-md + .gap-9-md {
    margin-top: 36px;
  }
  .gap-10-md {
    grid-row-gap: 40px;
  }
  .gap-10-md + .gap-10-md {
    margin-top: 40px;
  }
  .gap-11-md {
    grid-row-gap: 44px;
  }
  .gap-11-md + .gap-11-md {
    margin-top: 44px;
  }
  .gap-12-md {
    grid-row-gap: 48px;
  }
  .gap-12-md + .gap-12-md {
    margin-top: 48px;
  }
  .gap-13-md {
    grid-row-gap: 52px;
  }
  .gap-13-md + .gap-13-md {
    margin-top: 52px;
  }
  .gap-14-md {
    grid-row-gap: 56px;
  }
  .gap-14-md + .gap-14-md {
    margin-top: 56px;
  }
  .gap-15-md {
    grid-row-gap: 60px;
  }
  .gap-15-md + .gap-15-md {
    margin-top: 60px;
  }
  .gap-20-md {
    grid-row-gap: 80px;
  }
  .gap-20-md + .gap-20-md {
    margin-top: 80px;
  }
  .gap-25-md {
    grid-row-gap: 100px;
  }
  .gap-25-md + .gap-25-md {
    margin-top: 100px;
  }
  .gap-30-md {
    grid-row-gap: 120px;
  }
  .gap-30-md + .gap-30-md {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .gap-1-sm {
    grid-row-gap: 4px;
  }
  .gap-1-sm + .gap-1-sm {
    margin-top: 4px;
  }
  .gap-2-sm {
    grid-row-gap: 8px;
  }
  .gap-2-sm + .gap-2-sm {
    margin-top: 8px;
  }
  .gap-3-sm {
    grid-row-gap: 12px;
  }
  .gap-3-sm + .gap-3-sm {
    margin-top: 12px;
  }
  .gap-4-sm {
    grid-row-gap: 16px;
  }
  .gap-4-sm + .gap-4-sm {
    margin-top: 16px;
  }
  .gap-5-sm {
    grid-row-gap: 20px;
  }
  .gap-5-sm + .gap-5-sm {
    margin-top: 20px;
  }
  .gap-6-sm {
    grid-row-gap: 24px;
  }
  .gap-6-sm + .gap-6-sm {
    margin-top: 24px;
  }
  .gap-7-sm {
    grid-row-gap: 28px;
  }
  .gap-7-sm + .gap-7-sm {
    margin-top: 28px;
  }
  .gap-8-sm {
    grid-row-gap: 32px;
  }
  .gap-8-sm + .gap-8-sm {
    margin-top: 32px;
  }
  .gap-9-sm {
    grid-row-gap: 36px;
  }
  .gap-9-sm + .gap-9-sm {
    margin-top: 36px;
  }
  .gap-10-sm {
    grid-row-gap: 40px;
  }
  .gap-10-sm + .gap-10-sm {
    margin-top: 40px;
  }
  .gap-11-sm {
    grid-row-gap: 44px;
  }
  .gap-11-sm + .gap-11-sm {
    margin-top: 44px;
  }
  .gap-12-sm {
    grid-row-gap: 48px;
  }
  .gap-12-sm + .gap-12-sm {
    margin-top: 48px;
  }
  .gap-13-sm {
    grid-row-gap: 52px;
  }
  .gap-13-sm + .gap-13-sm {
    margin-top: 52px;
  }
  .gap-14-sm {
    grid-row-gap: 56px;
  }
  .gap-14-sm + .gap-14-sm {
    margin-top: 56px;
  }
  .gap-15-sm {
    grid-row-gap: 60px;
  }
  .gap-15-sm + .gap-15-sm {
    margin-top: 60px;
  }
  .gap-20-sm {
    grid-row-gap: 80px;
  }
  .gap-20-sm + .gap-20-sm {
    margin-top: 80px;
  }
  .gap-25-sm {
    grid-row-gap: 100px;
  }
  .gap-25-sm + .gap-25-sm {
    margin-top: 100px;
  }
  .gap-30-sm {
    grid-row-gap: 120px;
  }
  .gap-30-sm + .gap-30-sm {
    margin-top: 120px;
  }
}
.column-offset-1 {
  grid-column-start: 2;
}

.column-offset-2 {
  grid-column-start: 3;
}

.column-offset-3 {
  grid-column-start: 4;
}

.column-offset-4 {
  grid-column-start: 5;
}

.column-offset-5 {
  grid-column-start: 6;
}

.column-offset-6 {
  grid-column-start: 7;
}

.column-offset-7 {
  grid-column-start: 8;
}

.column-offset-8 {
  grid-column-start: 9;
}

.column-offset-9 {
  grid-column-start: 10;
}

.column-offset-10 {
  grid-column-start: 11;
}

.column-offset-11 {
  grid-column-start: 12;
}

.column-offset-12 {
  grid-column-start: 13;
}

@media only screen and (max-width: 767px) {
  [class^=column-offset-],
  [class*=" column-offset-"] {
    grid-column-start: unset;
  }
}