:root {
    --palette-black: #030612;
    --palette-white: #ffffff;
    --palette-primary-darker: #1022A0;
    --palette-primary-dark: #1027EA;
    --palette-primary-base: #1F4AFB;
    --palette-primary-mid: #8FA4FD;
    --palette-primary-light: #C7D2FE;
    --palette-primary-lighter: #E8ECFE;
    --palette-primary-lightest: #F4F6FF;
    --palette-neutral-darker: #2A2D3C;
    --palette-neutral-dark: #3F424A;
    --palette-neutral-base: #7C7C83;
    --palette-neutral-mid: #CDCDD0;
    --palette-neutral-light: #E6E6E9;
    --palette-neutral-lighter: #EDEDEE;
    --palette-neutral-lightest: #F5F5F6;
    --palette-negative-darker: #A30109;
    --palette-negative-dark: #E6000A;
    --palette-negative-base: #FF424D;
    --palette-negative-mid: #FFA0A6;
    --palette-negative-light: #FFC6C9;
    --palette-negative-lighter: #FFECED;
    --palette-negative-lightest: #FFF5F6;
    --palette-positive-darker: #106939;
    --palette-positive-dark: #1B9D56;
    --palette-positive-base: #1FC267;
    --palette-positive-mid: #84DEAC;
    --palette-positive-light: #B1EACA;
    --palette-positive-lighter: #E8F8EF;
    --palette-positive-lightest: #F4FCF7;
    --palette-active-darker: #1022A0;
    --palette-active-dark: #1027EA;
    --palette-active-base: #1F4AFB;
    --palette-active-mid: #8FA4FD;
    --palette-active-light: #C7D2FE;
    --palette-active-lighter: #E8ECFE;
    --palette-active-lightest: #F4F6FF;
    --palette-red-darker: #A30109;
    --palette-red-dark: #E6000A;
    --palette-red-base: #FF424D;
    --palette-red-mid: #FFA0A6;
    --palette-red-light: #FFC6C9;
    --palette-red-lighter: #FFECED;
    --palette-red-lightest: #FFF5F6;
    --palette-orange-darker: #B84300;
    --palette-orange-dark: #FF6105;
    --palette-orange-base: #FF8943;
    --palette-orange-mid: #FFBE98;
    --palette-orange-light: #FFD6BD;
    --palette-orange-lighter: #FFF3EC;
    --palette-orange-lightest: #FFF9F5;
    --palette-yellow-darker: #9F7E04;
    --palette-yellow-dark: #ECC01E;
    --palette-yellow-base: #F9C918;
    --palette-yellow-mid: #FBDF74;
    --palette-yellow-light: #FDE9A3;
    --palette-yellow-lighter: #FEF7DD;
    --palette-yellow-lightest: #FEFCF3;
    --palette-green-darker: #106939;
    --palette-green-dark: #1B9D56;
    --palette-green-base: #1FC267;
    --palette-green-mid: #84DEAC;
    --palette-green-light: #B1EACA;
    --palette-green-lighter: #E8F8EF;
    --palette-green-lightest: #F4FCF7;
    --palette-blue-darker: #1022A0;
    --palette-blue-dark: #1027EA;
    --palette-blue-base: #1F4AFB;
    --palette-blue-mid: #8FA4FD;
    --palette-blue-light: #C7D2FE;
    --palette-blue-lighter: #E8ECFE;
    --palette-blue-lightest: #F4F6FF;
    --palette-purple-darker: #5622A5;
    --palette-purple-dark: #6E25D5;
    --palette-purple-base: #8C38FF;
    --palette-purple-mid: #C59BFF;
    --palette-purple-light: #E2CDFF;
    --palette-purple-lighter: #F6EFFF;
    --palette-purple-lightest: #F9F5FF;
    --palette-white-5: rgba(255, 255, 255, 0.05);
    --palette-white-7: rgba(255, 255, 255, 0.07);
    --palette-white-10: rgba(255, 255, 255, 0.1);
    --palette-white-15: rgba(255, 255, 255, 0.15);
    --palette-white-20: rgba(255, 255, 255, 0.2);
    --palette-white-25: rgba(255, 255, 255, 0.25);
    --palette-white-30: rgba(255, 255, 255, 0.3);
    --palette-white-40: rgba(255, 255, 255, 0.4);
    --palette-white-50: rgba(255, 255, 255, 0.5);
    --palette-white-60: rgba(255, 255, 255, 0.6);
    --palette-white-70: rgba(255, 255, 255, 0.7);
    --palette-white-80: rgba(255, 255, 255, 0.8);
    --palette-white-90: rgba(255, 255, 255, 0.9);
    --palette-white-95: rgba(255, 255, 255, 0.95);
    --palette-black-5: rgba(3, 6, 18, 0.05);
    --palette-black-7: rgba(3, 6, 18, 0.07);
    --palette-black-10: rgba(3, 6, 18, 0.1);
    --palette-black-15: rgba(3, 6, 18, 0.15);
    --palette-black-20: rgba(3, 6, 18, 0.2);
    --palette-black-25: rgba(3, 6, 18, 0.25);
    --palette-black-30: rgba(3, 6, 18, 0.3);
    --palette-black-40: rgba(3, 6, 18, 0.4);
    --palette-black-50: rgba(3, 6, 18, 0.5);
    --palette-black-60: rgba(3, 6, 18, 0.6);
    --palette-black-70: rgba(3, 6, 18, 0.7);
    --palette-black-80: rgba(3, 6, 18, 0.8);
    --palette-black-90: rgba(3, 6, 18, 0.9);
    --palette-black-95: rgba(3, 6, 18, 0.95);
}

@media (prefers-color-scheme: dark) {
    :root {
      --palette-surface-base: #202124;
      --palette-surface-100: #3F4345;
      --palette-surface-200: #383B3D;
      --palette-surface-300: #303236;
      --palette-surface-400: #2A2B2E;
      --palette-black: #171718;
      --palette-neutral-darker: #2D2D30;
      --palette-neutral-dark: #434348;
      --palette-neutral-base: #85858A;
      --palette-neutral-mid: #D1D1D1;
      --palette-neutral-light: #E8E8E8;
      --palette-neutral-lighter: #ECECEC;
      --palette-neutral-lightest: #F3F3F4;
      --palette-primary-mid: #6580F1;
      --palette-primary-base: #4E6DEF;
      --palette-negative-mid: #F58086;
      --palette-negative-base: #F36870;
      --palette-positive-mid: #5AD38F;
      --palette-positive-base: #3ACB7A;
      --palette-active-mid: #6580F1;
      --palette-active-base: #4E6DEF;
      --palette-red-mid: #F58086;
      --palette-red-base: #F36870;
      --palette-orange-mid: #F4AF85;
      --palette-orange-base: #F29F6E;
      --palette-yellow-mid: #E8CF73;
      --palette-yellow-base: #E3C554;
      --palette-green-mid: #5AD38F;
      --palette-green-base: #3ACB7A;
      --palette-blue-mid: #6580F1;
      --palette-blue-base: #4E6DEF;
      --palette-purple-mid: #AD74FB;
      --palette-purple-base: #A160FB;
      --palette-black-5: rgba(23, 23, 24, 0.05);
      --palette-black-7: rgba(23, 23, 24, 0.07);
      --palette-black-10: rgba(23, 23, 24, 0.1);
      --palette-black-15: rgba(23, 23, 24, 0.15);
      --palette-black-20: rgba(23, 23, 24, 0.2);
      --palette-black-25: rgba(23, 23, 24, 0.25);
      --palette-black-30: rgba(23, 23, 24, 0.3);
      --palette-black-40: rgba(23, 23, 24, 0.4);
      --palette-black-50: rgba(23, 23, 24, 0.5);
      --palette-black-60: rgba(23, 23, 24, 0.6);
      --palette-black-70: rgba(23, 23, 24, 0.7);
      --palette-black-80: rgba(23, 23, 24, 0.8);
      --palette-black-90: rgba(23, 23, 24, 0.9);
      --palette-black-95: rgba(23, 23, 24, 0.95);
    }
}